body{
    background-color: aquamarine;
}
#body{
    background-color: rgb(255, 8, 8);
}
.body{
    background-color: coral;
}
h1{
    background-color: crimson; 
    margin: 30px;
    border: 5px solid purple; 
    padding: 40px 50px 10px;
}